* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	width: 100%;
  height: 100%;
  color: #FFF;
}
#game, #welcome, #win {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-bottom: 39px;
}
.hidden {
  display: none !important;
}
#size {
  width: 30vw;
}
/**********************************************************
Welcome Msg and Win Msg
**********************************************************/
#welcome div, #win div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin: 10px auto;
  width: 29vw;
  height: 87vh;
  background-color: #555;
  border: 3px solid #000;
  font-size: 3em;
  min-width: 400px;
  min-height: 500px;
}
#win div {
  min-height: 570px;
}
#welcome div h2, #win div h2 {
  font-weight: bold;
  color: #f4d03f;
  font-family: 'Castoro', serif;
  padding-bottom: 1vh;
  width: 100%;
}
#welcome div p, #win div p {
  font-size: 0.8em;
  padding-bottom: 3vh;
  width: 100%;
}
#welcome div i, #win div i {
  font-size: 3.5em;
  cursor: pointer;
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/**********************************************************
Statisticen of Gamesplay
**********************************************************/
#header, #footer {
  margin: 10px auto;
	display: flex;
	height: 11vh;
	width: 29vw;
  justify-content: space-between;
  min-width: 370px;
  min-height: 114px;
}
.data-box, .data-box-pause, .data-box-hardcore {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
	font: 2em/1em Arial, sans-serif;
	background-color: #555;
  width: 49%;
  border: 3px solid #000;
}
.button, #score {
  cursor: pointer;
}
.data-box-pause {
  background-color: #E23D2F;
}
.data-box-hardcore {
  background-color: #21518F;
}
/**********************************************************
Game Play
**********************************************************/
#main {
  height: 29vw;
  width: 29vw;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #000;
  min-height: 370px;
  min-width: 370px;
}
/*********************************************************
Icons
**********************************************************/
.iconscenter {
  width: 25%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c9b9b9;
  border: 1px solid #000;
  cursor: pointer;
}
#game .fas, #game .fab, #game .far {
  color: #FFF;
  font-size: 4em;
  display: none;
}
.opened {
  background-color: #adad24;
}
.match {
  background-color: #72B14D;
}
.opened > i, .match > i {
  display: inline-block !important;
}
.pause {
  background-color: #adad24;
}
.pause > i {
  display: none !important;
}
@media (min-width: 1025px) {
  #main .hover:hover {
    background-color: rgba(140, 240, 240, 0.705);
  }
}
/**********************************************************
Phone and iPad
**********************************************************/
@media (max-width: 1100px) {
  #welcome div, #win div {
    min-width: 0;
    min-height: 0;
  }
  #main, #header, #footer {
    width: 60vh;
    min-height: 0;
    min-width: 0;
  }
  #main {
    height: 60vh;
  }
  #game, #welcome, #win {
    width: 100vw;
    height: 100vh;
  }
  #welcome div, #win div {
    width: 61.8vw;
    height: 72vh;
  }
  #welcome div i, #win div i{
    font-size: 2em;
  }
  @media screen and (orientation: landscape) {
    #welcome div, #win div {
      font-size: 3em;
      width: 42.9vw;
      height: 85vh;
    }
    #welcome div i, #win div i{
      font-size: 2em;
    }
    footer {
      display: none !important;
    }
    #main div {
      font-size: 1em;
    }
    #game, #welcome, #win {
      padding-bottom: 0;
    }
    .data-box {
      font-size: 1.5em;
    }
  }
}
@media (max-width: 900px) {
  #main, #header, #footer, #welcome div, #win div {
    width: 48vh;
  }
  #main {
    height: 48vh;
  }
  #header, #footer {
    font-size: 0.8em;
  }
  #game .fas, #game .fab, #game .far {
    font-size: 3em;
  }
  @media screen and (orientation: landscape) {
    #welcome div, #win div {
      font-size: 1em;
      height: 75vh;
    }
    #welcome div i, #win div i{
      font-size: 2em;
    }
    footer {
      display: none !important;
    }
    #main div {
      font-size: 0.5em;
    }
    #game, #welcome, #win {
      padding-bottom: 0;
    }
    .data-box {
      font-size: 0.7em;
    }
  }
}
@media (max-width: 375px) {
  #main, #header, #footer, #welcome div, #win div {
    width: 45vh;
  }
  #main {
    height: 48vh;
  }
  #header, #footer {
    font-size: 0.8em;
  }
  #game .fas, #game .fab, #game .far {
    font-size: 4em;
  }
}