* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	width: 100%;
  height: 100%;
  color: #FFF;
}
#game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-bottom: 39px;
}
#size {
  width: 30vw;
}
/**********************************************************
Statisticen of Gamesplay
**********************************************************/
#header, #footer {
  margin: 10px auto;
	display: flex;
	height: 11vh;
	width: 30vw;
  justify-content: space-between;
}
.data-box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
	font: 2em/1em Arial, sans-serif;
	background-color: #555;
  width: 49%;
  border: 3px solid #000;
}
.button, #score {
  cursor: pointer;
}
/**********************************************************
Game Play
**********************************************************/
#main {
  height: 30vw;
  width: 30vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 2px solid #000;
  background-color: #000;
}
/*********************************************************
Icons
**********************************************************/
.iconscenter {
  width: 25%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c9b9b9;
  border: 1px solid #000;
  cursor: pointer;
}
#game .fas, #game .fab, #game .far {
  color: #FFF;
  font-size: 4em;
  display: none;
}
.opened {
  background-color: #adad24;
}
.match {
  background-color: #72B14D;
}
.opened > i, .match > i {
  display: inline-block !important;
}
@media (min-width: 1101px) {
  #main .hover:hover {
    background-color: rgba(140, 240, 240, 0.705);
  }
}
/**********************************************************
Phone and iPad
**********************************************************/
@media (max-width: 1100px) {
  #main, #header, #footer {
    width: 60vh;
  }
  #main {
    height: 60vh;
  }
  #game {
    width: 100vw;
    height: 90vh;
  }
}
@media (max-width: 574px) {
  #main, #header, #footer {
    width: 48vh;
  }
  #main {
    height: 48vh;
  }
  #header, #footer {
    font-size: 0.8em;
  }
  #game .fas, #game .fab, #game .far {
    font-size: 3em;
  }
}