* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	width: 100%;
  height: 100%;
  color: #FFF;
  background-image: url(../../img/space.jpg);
  background-position: center;
  background-size: cover;
}
#game, #gamemsg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-bottom: 39px;
}
.hidden {
  display: none !important;
}
#size {
  width: 30vw;
}
/**********************************************************
Welcome Msg and Win Msg
**********************************************************/
#gamemsg div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin: 10px auto;
  width: 29vw;
  height: calc(13.2vh + 29vw + 13vh);
  background-color: rgba(85, 85, 85, 0.733);
  border: 3px solid #000;
  font-size: 3em;
  min-width: 406px;
  /*min-height: 655px;*/
}
#gamemsg div h2 {
  font-weight: bold;
  color: #f4d03f;
  font-family: 'Castoro', serif;
  padding-bottom: 1vh;
  width: 100%;
}
#gamemsg div p {
  font-size: 0.8em;
  padding-bottom: 3vh;
  width: 100%;
}
#gamemsg div i {
  font-size: 3.5em;
  cursor: pointer;
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/**********************************************************
Statisticen of Gamesplay
**********************************************************/
#header, #footer {
  margin: 10px auto;
	display: flex;
	height: 11vh;
	width: 29vw;
  justify-content: space-between;
  min-width: 370px;
  min-height: 114px;
  cursor: pointer;
}
.data-box, .data-box-pause, .data-box-hardcore {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
	font: 2em/1em Arial, sans-serif;
	background-color: #555;
  width: 49%;
  border: 3px solid #000;
}
.data-box-pause {
  background-color: #E23D2F;
}
.data-box-hardcore {
  background-color: #21518F;
}
/**********************************************************
Game Play
**********************************************************/
#main {
  height: 29vw;
  width: 29vw;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #000;
  min-width: 370px;
  min-height: 280px;
}
/*********************************************************
Icons
**********************************************************/
.iconscenter {
  width: 25%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c9b9b98a;
  border: 1px solid #000;
  cursor: pointer;
}
#game #main .fas, #game #main .fab, #game #main .far {
  color: #FFF;
  font-size: 4em;
  display: none;
}
.opened {
  background-color: #adad24de;
}
.match {
  background-color: #72b14dde;
}
.opened > i, .match > i {
  display: inline-block !important;
}
.pause {
  background-color: #adad24;
}
.pause > i {
  display: none !important;
}
@media (min-width: 1025px) {
  #main .hover:hover {
    background-color: rgba(140, 240, 240, 0.705);
  }
}
/**********************************************************
Phone and iPad
**********************************************************/
@media (max-width: 1100px) {
  #gamemsg div {
    min-width: 0;
    min-height: 0;
  }
  #main, #header, #footer {
    width: 60vh;
    min-height: 0;
    min-width: 0;
  }
  #main {
    height: 60vh;
  }
  #game, #gamemsg {
    width: 100vw;
    height: 100vh;
  }
  #gamemsg div {
    min-height: 0;
    min-width: 0;
    width: 61.8vw;
    height: 72vh;
  }
  #gamemsg div i {
    font-size: 2em;
  }
  @media screen and (orientation: landscape) {
    #gamemsg div {
      font-size: 3em;
      width: 42.7vw;
      height: 83vh;
      min-width: 0;
      min-height: 0;
    }
    #gamemsg div i {
      font-size: 2em;
    }
    footer {
      display: none !important;
    }
    #main div {
      font-size: 1em;
    }
    #game, #gamemsg {
      padding-bottom: 0;
    }
    .data-box, .data-box-pause, .data-box-hardcore {
      font-size: 1.5em;
    }
  }
}
@media (max-width: 900px) {
  #main, #header, #footer, #gamemsg div {
    width: 48vh;
  }
  #gamemsg div {
    height: 72vh;
  }
  #main {
    height: 48vh;
  }
  #header, #footer {
    font-size: 0.8em;
  }
  #game .fas, #game .fab, #game .far {
    font-size: 3em;
  }
  @media screen and (orientation: landscape) {
    #gamemsg div {
      font-size: 1em;
    }
    #gamemsg div i {
      font-size: 2em;
    }
    footer {
      display: none !important;
    }
    #main div {
      font-size: 0.5em;
    }
    #game, #gamemsg {
      padding-bottom: 0;
    }
    .data-box, .data-box-pause, .data-box-hardcore {
      font-size: 0.7em;
    }
  }
}
@media (max-width: 375px) {
  #main, #header, #footer, #gamemsg div {
    width: 45vh;
  }
  #gamemsg div {
    font-size: 2.5em;
  }
  #main {
    height: 48vh;
  }
  #header, #footer {
    font-size: 0.8em;
  }
  #game .fas, #game .fab, #game .far {
    font-size: 4em;
  }
}
/***************************************************************/
@media (max-height: 700px) {
  #gamemsg div i {
    font-size: 2em !important;
  }
}