@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.clock {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: rgba(66, 4, 124, 0.685);
  width: 100%;
  height: 50%;
  font-family: 'Lobster', cursive;
}
.clock p {
  font-size: 10em;
}
.clock button {
  font-size: 2em;
  border-radius: 10px;
  width: 10%;
}
.clock button:hover {
  background-color: #BBB;
}
